.tradeSetupBox {
  position: relative;
  z-index: 5;
  border: 1px solid var(--text);
  border-radius: 10px;
  /* background color with 0.5 opacity */
  background: var(--foreground-glass);
  backdrop-filter: blur(2px);
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 1.5rem;
  color: var(--text);
}

.tradeDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  gap: 1rem;
  color: black;
  box-sizing: border-box;
}

/* recommended global reset */

.offerSection {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: repeat(4, 90px);
  gap: 5px;
  box-sizing: border-box;
}

.offerInfoBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.offerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dim);

}

.offerItem {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  background: grey;
  display: flex;
  place-content: center;
  position: relative;
  border: 1px solid grey;
  box-sizing: border-box;
  /* include border in 90px */
}

.offerItemIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  
}

.offerItemQuantity {
  color: white;
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;
}

.emptySlot {
  border: 2px solid var(--dim);
  border-radius: 10px;
  transition: border 0.2s ease;
}

.active {
  color: var(--text);
}

.active .emptySlot {
  border: 2px solid var(--dim-slot);
}

/* Platforms */

.platformItem {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  border-radius: 10px;
  border: 2px solid var(--dim);
}

.platformIcon {
  width: 30px;
  height: 30px;
  color: var(--dim);
  transition: all 0.2s ease;
}

.platformItem:hover {
  cursor: pointer;
  background: var(--highlight);
  border: 2px solid var(--text);
}

.platformItem:hover .platformIcon {
  color: var(--text);
}

.informationSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.platformSection {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-end;
}

.selectedPlatform {
  border: 2px solid var(--text);

  & > .platformIcon {
    color: var(--text);
  }
}

.actionButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.5rem;
  justify-content: flex-end;
}