.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  gap: 0.5rem;
  border-radius: 30px;
  font-size: 1rem;
  font-family: inherit;
  /* capitalise */
  text-transform:uppercase;
  transition: all 0.15s ease-in-out;
  border: 2px solid transparent;
}

.button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.primary {
  background: var(--button);
  color: var(--black);
  font-weight: 500;
}

.secondary {
  background: var(--button-secondary);
  color: var(--text);
  font-weight: 500;
}