.item {
  position: relative;
  border-radius: 10px;
  transition: all 0.3s ease;
  border: 2px solid var(--rarity);
}

.hoverNameBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(9, 13, 25, 0.85);
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 0.5rem 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 3;
  user-select: none;
}

.removeItemButton {
  opacity: 0;
  position: absolute;
  top: -10%;
  right: -10%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  transition: background 0.2s ease;
  z-index: 4;
}

.removeItemButton:hover {
  background: rgba(255, 0, 0, 0.7);
}

.item:hover .itemQuantityControls, .item:hover .hoverNameBar, .item:hover .removeItemButton {
  opacity: 1;
}

.item:hover {
  filter: brightness(1.2);
}

.itemOverlay {
  position: absolute;
  left: 50%;
  top: 35%;;
  transform: translate(-50%, -50%) scale(0.9);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  z-index: 2;
}


.itemGradient {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 5px;
}

.itemNameBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #090d19;
  color: #fff;
  text-align: center;
  font-size: 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 3;
  padding: 0.25rem 0.5rem;
  display: flex;
  justify-content: space-between;
}


.itemQuantityControls {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.1s ease;
}

.itemQuantityControl {
  cursor: pointer;
  width: 16px;
  height: 16px;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  border-radius: 4px;
}
